PORT=:8080
APP_KEY=XA+L2OwUH6bm0j9XuYQwfn1e+8CvKUQCRBdr+vOz6NwuKOnpHpZ+/NcLFxqUBPFrd5czh6FNSEwgu9MSwtqNC8WcPXDCFJTMDp07RBAAbE0c7jOJN8iO5xQOliajzLHL4pe7lCQ0tQbq1ATKHmrCSNJqkekvoBg7Rz+b3wNHKOfk4W3T/gOST6zHqpjZ3TQaJpeGb4zhItkr2hjh1zj50vyJgpyb/KEft9NRLH4xi96pfSHIvzWFcSOdyg5Lw/r4TjLwhWENIxbWqzGm5ZIfzQy/8fXSmBNwEL4fuRT8+k9F7miM9OWlvNsaKHQ7HvHFil6KcNVBsWMAqqtTyMStzQ==
DB_NAME=./hayworth.db