package templates

import (
	"github.com/andrew-hayworth22/sql-injection/models"
)

templ Home(username string, data []models.Data) {
    @layout() {
        <h1> Welcome, { username } </h1>
        <h2> Your Data </h2>
        <ul>
            for _, d := range data {
                <li>
                    { d.Data }
                </li>
            }
        </ul>
    }
}